.header {
  display: flex;
  gap: 450px;
  border-bottom: 1px solid var(--badges);
  padding-block: 24px;
  padding-inline: 64px;
  width: 1440px;
  height: 72px;
  background-color: var(--inputs);
}

.headerLink {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.headerLink:hover {
  color: #ddd;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
}

.navigationItem {
  display: flex;
  align-items: center;
}

.navigationLink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navigationLink:hover {
  color: #ddd;
}
