.header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
  height: 72px;
  border-bottom: 1px solid var(--badges);
  background-color: var(--inputs);
}

.logo {
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
}

.navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--main);
  line-height: 1.5;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}

.link:hover,
.link:focus {
  color: var(--grey-green);
}

.link.active {
  color: var(--grey-green);
}
