.hero {
  background-image:
    linear-gradient(to bottom, rgba(17, 18, 19, 0.4), rgba(17, 18, 19, 0.4)),
    url("/images/hero-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 60px 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 70vh;
  padding: 32px;
}

.content {
  max-width: 571px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-weight: 600;
  font-size: 48px;

  line-height: 0.66667;
  color: var(--inputs);
  margin-bottom: 16px;
}

.notFoundTitle {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}

.subtitle {
  font-weight: 600;
  font-size: 24px;

  line-height: 1.33333;
  color: var(--inputs);
  margin-bottom: 40px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  padding-block: 16px;
  padding-inline: 60px;
  width: 173px;
  height: 56px;

  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  background-color: var(--grey-green);
  text-decoration: none;
  transition: background-color 0.25s ease;
}

.btn:hover,
.btn:focus {
  background-color: var(--green-hover);
}
