.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px;
}

.columnsWrapper {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.leftColumn {
  display: flex;
  flex-direction: column;

  width: 638px;
  flex-shrink: 0;
}

.rightColumn {
  width: 650px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mainInfoCard,
.detailsCard {
  background-color: var(--inputs);
  border-radius: 16px;
  padding: 24px;
}

.title {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 24px;

  line-height: 1.33;
  color: var(--main);
}

.infoBar {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.rating {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  color: var(--main);
}

.ratingIcon {
  margin-right: 4px;
  fill: var(--rating);
}

.iconLocation {
  margin-right: 4px;
  vertical-align: -2px;
}

.location {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  color: var(--main);
}

.price {
  font-weight: 600;
  font-size: 24px;

  line-height: 1.33;
  color: var(--main);

  margin: 0;
  margin-bottom: 24px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  margin: 0;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 88px;
}

.reviewsTitle {
  margin: 0;

  font-weight: 600;
  font-size: 24px;

  line-height: 1.33;
  color: var(--main);
}

.columnRow {
  display: flex;
  align-items: flex-start;
  gap: 48px;
}

.reviewsColumn {
  width: 623px;
  flex-shrink: 0;
}

.formColumn {
  flex: 1;
}
